{% extends "layout1.html" %}

{% block title %}
    List
{% endblock %}


{% block main %}
    <main class="listbox container p-5">
        <h2>Project List</h2>
        {% if message !=""%}
        <div class="small text-center"><span class="message">{{message}}</span></div>
        {% endif %}
        {% for project in projectList%}
            <div class="card w-100">
                <div class="card-body">
                    <h3 class="card-title">{{project.name}}</h3>
                     {% if project.status !="Complete"%}
                        <a href="/deletePro?projectId={{project.id}}" class="btn btn-danger col-lg-2 col-md-4 cardleft"><i class="fas fa-trash"></i></a>
                        <a href="/completePro?projectId={{project.id}}" class="btn btn-success col-lg-2 col-md-4 cardleft"><i class="fas fa-check"></i></a>
                        <a class="btn btnDetail cardright" href="/viewPro?projectId={{project.id}}">View details</a>
                    {% endif %}
                    {% if project.status !="Pending"%}
                         <h6 class="finishText">Finished!</h6>
                         <a class="btn btnDetail col-md-4 cardFinish" href="/viewPro?projectId={{project.id}}">View details</a>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
