{% extends "layout1.html" %}

{% block title %}
    Add more function to project
{% endblock %}
        {% block main %}
        <main class=" container p-5 registerBox">
        <h2 class="formlabel">Add function</h2>
        {% if message !=""%}
        <div class="small text-center"><span class="message">{{message}}</span></div>
        {% endif %}
        <div class ="center">
        <form action="/proFunction?projectId={{proId}}" method="post">
        <input data-toggle="tooltip" title="Enter your function name" autocomplete="off" autofocus class="form-control" name="functionName" placeholder="Enter new function name" type="text">
        <button class="functionbtn btn btn-info" type="submit">Submit</button>
        </form>
        </div>
        <div class="center functionlist">
            <table class="table table-striped">
                <thead>
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for function in functions%}
                    <tr>
                      <td scope="row">{{function.name}}</td>
                      <td scope="row">{{function.status}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
         </div>
    </main>
{% endblock %}