{% extends "layout1.html" %}

{% block title %}
    Welcome
{% endblock %}

        {% block main %}
        <main class="welcomebox container p-5">
        <div class ="welcometxt">
            <h1>Welcome to <span>here</span></h1>
            <h2>My <span>purpose</span> in life is to help you <span>organize your website ideas</span></h2>
            <h4>To do my job, I must know <span>who you are </span>. Therefore, please help me by <span>registering </span>if you are new</h4>
            <h4>If you familiar with me, <span>log in</span> to access your workplace. <span> Welcome back</span></h4>
       </div>
       <div class="welcomebtn">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-3">
               <a href="/register" class="btn btn-info btn-lg" role="button" aria-pressed="true">Get Started</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
               <a href="/login" class="btn btn-info btn-lg" role="button" aria-pressed="true">Log In</a>
            </div>
          </div>
        </div>
        </main>
        {% endblock %}

